
###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Bb]uildWebGL/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

###
# Visual Studio cache directory
###
.vs/

###
# Rider cache directory
###
.idea/

DH2650/UserSettings/
UserSettings/
DH2650/Logs/
Logs/
*.log

*clone_0

DH2650/UserSettings/EditorUserSettings.asset
oVRseer/Assets/Wwise
