:root {
  --main-color1: #D3FCD5;
  --main-color1A: #edffee;
  --main-color2: #44344F;
  --main-color3: #FFFFFF;
  --main-color4: #C2F970;
  --main-color5: #98A6D4;
  --main-color6: #564D80;
  --section-title-background: black;
  --heading-text-color: white;
  --text-color: #f0f0f0;
  --section-content-background: rgba(255, 255, 255, 0.15);
}

body {
    background-color: var(--main-color1); 
    font-family: sans-serif;
}

.nav-bar {
    background-color: var(--main-color4);
    color: var(--main-color2);
}

.nav-button {
    text-decoration: none;
}

.nav-button:hover {
    font-weight: bold;
}

#nav-title {
    font-weight: bold;
    text-decoration: none;
}

main {
    
}

h1, h2, h3, h4 {
    color: var(--main-color2);
}

.subtitle-header {
    font-size: 15px;
    padding-bottom: 30px;
}

.fa {
    color: var(--main-color2);
}

header {
    text-align: center;
    height: 500px;
    padding-top: 200px;
    background-color: var(--main-color1A);
}

.AR-text {
    /*color: var(--main-color4);*/
}

.download-button {
    height: 30px;
    color: var(--main-color2);
    border-color: var(--main-color2);
    border-radius: 10px;
    border-width: 1px;
    background-color: var(--main-color4);
    transition: 0.2s;
}

.download-button:hover {
    cursor: pointer;
    transition: 0.2s;
    background-color: var(--main-color2);
    color: var(--main-color4)
}

.section-title {
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
}

.info-section {
    /*background-color: red;*/
    /*height: 300px;*/
}

.info-section-light {
    background-color: var(--main-color1A);
}

.info-card, h3, h4 {
    text-align: center;
}


.info-card, p {
    /*background-color: var(--main-color3);
    padding: 10px;*/
}

.info-card {
    margin: auto;
    text-align: justify;
    font-size: 12px;
    padding: 10px;
    /*background-color: var(--main-color3);
    background-color: var(--main-color1);*/
    height: 100%;
    width: 400px;
    /*min-width: 500px;
    max-width: 600px;*/
}

.column {
  margin-bottom: 10px;
  padding: 0 8px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 650px) {
    
    .row {
      flex-direction: column;
      justify-content: center;
    }
}

footer {
    height: 50px;
    background-color: var(--main-color4);
    text-align: center;
    padding-top: 10px;
}

.img1 {
    height: 250px;
}